.edit-form{
    padding: 30px 300px;
}

.a{
    width: 338%;
}

.e{
    width: 273%;
}

.b{
    width: 300%;
}
.c{
    width: 308%;
}
.d{
    width: 205%;
}
.edit-form textarea{
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    color: #808080;
    margin-bottom: 8px;
    padding: 10px 10px;
    width: 100%;
}

.edit-form select {
    border: 2px solid #dbdbdb;
}